h2 {
	color: green;
}

table {
	thead {
		background-color: skyblue;
		cursor: pointer;
	}
	td {
		text-align: center;
		border: 2px solid gray;
	}
	span {
		color: red;
		background-color: skyblue;
	}
}
 