table {
	thead {
		background-color: skyblue;
		cursor: pointer;
		text-align: center;
	}
	td,th {
		text-align: center;
		border: 2px solid gray;

	}
}
.add-box {
	text-align: center;
	margin: 10px 0 30px;
}

.col-sm-6 {
	text-align: center;
}

.pagination {

	.control {
		color: blue;
		margin: auto;
	}
}

input {
	border: 2px solid gray;
	padding: 5px;
	border-radius: 5px;
}