<div class=" container nav">
	<button class="btn btn-outline-dark" routerLink="databinding">1. Databinding</button>
	<button class="btn btn-outline-dark" routerLink="directives">2. Directive</button>
	<button class="btn btn-outline-dark" routerLink="pipe">3. Pipes</button>
	<button class="btn btn-outline-dark" routerLink="parentChild">4. Component Interaction</button>
	<button class="btn btn-outline-dark" routerLink="forms">5. Angular Forms</button>
	<button class="btn btn-outline-dark" routerLink="serdata">. Service-Data</button>
	<button class="btn btn-outline-dark" routerLink="crud">. Crud</button>
</div>